<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Project</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ClienteAdd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ClienteAdd
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/clientlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado Clientess
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/ProductAdd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Registro Producto
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/productList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Listado Producto
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/productList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pruebax
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
